html,
body {
  margin: 0;
  padding: 0;
  background: #759495;
}

h1 {
  text-align: center;
  font-size: 50px;
  font-family: arial;
}

.simon-wrapper {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  top: 100px;
}

.container {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.btn-container {
  margin: 0 auto;
  width: 500px;
  height: 500px;
  border-radius: 50%;
}

.green,
.red,
.yellow,
.blue {
  margin: 0;
  float: left;
  width: 240px;
  height: 240px;
  border: 5px solid #000;
}

.green {
  background: green;
  border-radius: 300px 0 0 0;
}

.green-active {
  background: #325828 !important;
}

.red {
  background: red;
  border-radius: 0 300px 0 0;
}

.red-active {
  background: #821212 !important;
}

.yellow {
  background: yellow;
  border-radius: 0 0 0 300px;
}

.yellow-active {
  background: #9aa027 !important;
}

.blue {
  background: blue;
  border-radius: 0 0 300px 0;
}

.blue-active {
  background: #093575 !important;
}

.controlers {
  width: 250px;
  height: 250px;
  background: #fff;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  position: absolute;
  margin-top: 120px;
  margin-left: 120px;
  text-align: center;
}

.game-title {
  font-size: 45px;
  font-weight: bold;
  font-family: sans-serif;
  margin: 30px;
}

.start-div {
  width: 70%;
  line-height: 2px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}

.start-div .counter {
  width: 80px;
  height: 50px;
  line-height: 50px;
  border-radius: 20px;
  background: #574847;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  text-align: center;
  font-size: 30px;
  color: #fff;
}

.start-div .start_btn {
  width: 30px;
  height: 30px;
  background: red;
}

.start-div .strict-btn {
  width: 30px;
  height: 30px;
  background: yellow;
}

.start-div .strict-btn,
.start_btn {
  position: relative;
  top: 10px;
  border-radius: 50%;
}

.game-on-div {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  font-family: arial;
}

.toggle {
  width: 60px;
  height: 30px;
  background: #f2f2f2;
  position: relative;
  top: 15px;
}

.toggle:before {
  content: "";
  position: absolute;
  left: 0;
  width: 30px;
  height: 30px;
  background: skyblue;
}

.active .toggle {
  background: red;
}
